body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

body input:hover{
  border-color: #4491b5;
}

body select:hover{
  border-color: #4491b5;
}

header {
  height: 100%;
}
.big-header-content {
  height: 100%;
}
.big-index-content {
  height: 100%;
}
.big-registration-panel {
  padding: 10px;
  background-color: #91c1d8;
  border-radius: 10px;
}

.footer-icon {
  font-size: 100px !important;
  color: #c1c1c1;
}

.big-announcement-panel {
  background-color: #91c1d8;
}
