body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
}
.big-header-content {
  height: 100%;
}
.big-index-content {
  height: 100%;
}
.big-registration-panel {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}
