body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 60px;
}

body input:hover{
  border-color: #4491b5;
}

body select:hover{
  border-color: #4491b5;
}

header {
  height: 100%;
}
.big-header-content {
  /*max-height: 30$;*/
}
.big-index-content {
  height: 100%;
}
.big-registration-panel {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}

.footer-icon {
  font-size: 50px !important;
  color: #c1c1c1;
}
.footer-text {
  font-size: 12px;
}
.big-announcement-panel {
  background-color: #eee;
}

.big-sidebar-nav {
}

.big-search{
  width: 400px !important;
}

#center {
  background-color: #eee !important;
}
.big-feed-img {
  width: 128px;
  height: 128px;
  max-height: 200px;
  border: solid 1px;
  border-radius: 50%;
  border-color: #eee;
}

.big-media {
  padding: 10px;
}

.big-advertising{
  background-color: #eee;
  width: 200px;
  height: 85vh;
}

.big-avatar-nav{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6),
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.big-navbar-search-button {
  background-color: transparent;
}

.big-profile-header {
  width: 100%;
  height: 300px;
  background-color: #eee;
}

.big-image-profile {
  width: 300px;
  height: 300px;
  background-color: #000;
  border-radius: 10px;
  background: url('../img/jane_doe.jpg');
  background-size: cover;
}

.big-profile-title {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  font-size: 30px;
  text-shadow: 0px 1px #000000;
  margin-left: 5px;
}
